@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@300&family=Rubik+Mono+One&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  z-index: 0;
}

header {
  ul {
    gap: 30px;
    font-family: 'Rubik Mono One';
  }
  span {
    font-size: 24px;
    font-family: 'Open Sans';
  }
}
.advertisingBlock {
  margin-bottom: 40px;
  display: flex;

  align-items: center;
  h1 {
    width: 450px;
    height: 360px;
    font-size: 120px;
    font-family: 'Rubik Mono One';
  }
  p {
    font-size: 28px;
  }
}
.content_Block {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.DrinksIcecream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.wantGiftBlock {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  ul {
    display: flex;
    gap: 50px;
    font-size: 18px;
    li {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 207px;
      font-family: 'Open Sans';
    }
  }
  button {
    margin-left: 40px;
    width: 223px;
    height: 48px;
    background-color: #f01649;
    border: 1px;
    border-radius: 255px;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans';
    &:hover {
      transition: 0.5s ease-in-out;
      background-color: #770d25;
    }
  }
}
.topBlok {
}
.tittleTop {
  margin-bottom: 70px;
  color: #f01649;
  h1 {
    font-size: 42px;
    font-family: 'Rubik mono one';
    height: 50px;
  }
  p {
    font-size: 18px;
    font-family: 'open sans';
  }
}
.items {
  margin-bottom: 30px;
  .cartItems {
    display: flex;
    flex-direction: column;
    width: 328px;
    h2 {
      font-size: 24px;
      font-family: 'Open sans', Arial;
      height: 30px;
    }
    span {
      font-size: 16px;
    }
    .priceNumber {
      display: flex;
      align-items: center;
      gap: 30px;
      p {
        font-size: 24px;
      }
      .number {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
          color: #f01649;
        }
      }
    }
  }
  .buttonBlock {
    display: flex;
    gap: 40px;
    button {
      width: 135px;
      height: 44px;
      font-size: 18px;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      &:hover {
        opacity: 0.6;
        transition: 0.3s ease-in-out;
      }
    }
    .inBusket {
      border: 1px;
      background-color: #f01649;
      border-radius: 40px;
      color: white;
    }
    .more {
      border: 1px;
      background-color: white;
    }
  }
}
.iconBusket {
  display: flex;
  border-radius: 20px;
  background-color: silver;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: fixed;
  margin: 15px;

  img {
  }
}
.mainCircle {
  display: flex;
  width: 15px;
  height: 80px;
  .circle {
    align-items: flex-start;
    background-color: #f01649;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.under {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: fixed;
}
.busketWrapper {
  .remove {
    float: right;
    margin: 20px;
    cursor: pointer;
  }

  width: 760px;
  height: 900px;
  background-color: white;
  margin: 40px auto;
  border: 1px;
  border-radius: 30px;
  .content {
    padding: 50px;
    h1 {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .totalSum {
      text-align: right;
      span {
      }
    }
    .cardInfo {
      display: grid;
      grid-template-columns: 65px 600px;
      margin-bottom: 45px;

      .cartImage {
        img {
          border-radius: 10px;
        }
      }
      .textPrice {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 20px;
        height: 30px;
        h3 {
          height: 20px;
          margin: 0;
          font-weight: normal;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
            Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }
      .deleteNumber {
        margin-left: 20px;
        grid-column-start: 2;
        display: flex;
        gap: 50px;
        .number {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        button {
          width: 100px;
          height: 36px;
          background-color: white;
          border: 1px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
            Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: normal;
          font-size: 15px;
          color: rgba(139, 121, 121, 0.822);
          &:hover {
            background-color: rgb(245, 179, 179);
            color: rgb(248, 43, 43);
            transition: ease-in-out 0.3s;
          }
        }
      }
    }
  }
}
.orderDate {
  .input {
    margin-bottom: 30px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    input {
      border-radius: 10px;
      height: 50px;
      padding-left: 15px;
      font-size: 16px;
      border: 1px solid rgb(231, 228, 228);

      &:hover {
        border: 1px solid rgb(202, 213, 223);
        transition: ease-in-out 0.1s;
      }
    }
  }
  .orederCalkulation {
    display: flex;
    justify-content: space-between;
  }
}
.chekoutOrder {
  width: 100%;
  height: 60px;
  background-color: #1890ff;
  color: white;
  border: 1px;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    background-color: #4ea8fc;
    transition: ease-in-out 0.1s;
  }
}
.wrapperDiskount {
  width: 100%;
  height: 900px;
  background: linear-gradient(193deg, #c70e5e, #f01649);
  margin-bottom: 100px;
  .leavesDislount {
    background-image: url('//m-files.cdnvideo.ru/lpfile/e/7/b/e7b362a8f3dd96071f40301b6f1ac289.png');
    width: 100%;
    height: 900px;
  }
}
.textDiskount {
  width: 100%;
  height: 900px;
  margin-top: -900px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.textBlock {
  width: 600px;
  color: white;
  h1 {
    font-size: 28px;
    font-family: 'open sans ';
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 120px;
    font-family: 'Rubik mono one';
  }
  span {
    margin: 0;
    font-size: 28px;
    font-family: 'open sans ';
  }
}
.inputFlex {
  display: flex;
  gap: 50px;
  input {
    width: 220px;
    height: 40px;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.29);
    font-family: 'Open Sans';
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px (0 0 0 / 8%);
    border-radius: 30px;
    opacity: 0.3;
    color: rgba(255, 255, 255, 1);
    &:focus {
      box-shadow: 0 0 10px 5px rgb(24, 50, 168);
    }
  }
}
input::placeholder {
  color: white;
}
.but {
  z-index: 1;
  button {
    width: 142px;
    height: 40px;
    font-size: 20px;
    font-family: 'open sans';
    border: 1px;
    border-radius: 30px;
    cursor: pointer;

    &:active {
      width: 130px;
    }
  }
}
.deliveryBlock {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  .textBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 500px;
    h1 {
      font-size: 42px;
      font-family: 'Rubik mono one', Arial;
    }
    h2 {
      font-size: 24px;
      font-family: 'open sans';
      font-weight: bolder;
    }
    p {
      font-size: 18px;
      font-family: 'open sans';
    }
  }
}
